body {
    background: #222222;
    color: white;
    overflow: hidden;
}

.item {
    padding: 5px;
    background: #3d60ff;
    font-size: 20px;

}

.item:nth-child(odd){
    background: #5675ff;
}

.menuActive {
    color: #222;
    font-weight: 600;
}

.message {
    width: 90%;
    height: 100px;
    border-radius: 10px;
    padding: 10px;
    resize: none;
}

.message:focus {
    outline: none;
}


.menu {
    background: #5675ff
}
